body {
  background-color: #fff;
}

nav {
  background-color: #036;
}

.navbar-nav a {
  color: white;
}

.navbar-nav a:hover {
  color: #036;
}

.navbar-nav li:hover {
  background-color: white;
}

.navbar-nav li:hover a {
  color: #036 !important;
}

input[readonly]:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #495057;
}
