:root {
  --wine-berry: #351330;
  --brick-red: #cc2a41;
  --ironstone: #8c4d3f;
  --cashmere: #e7caa4;
  --oxley: #759a8a;
  --quarter-spanish-white: #f5f0db;
  --emperor: #524549;
  --comet: #585a73;
  --snuff: #eedff2;
  --scooter: #3dadd9;
  --pumice: #d7d9d7;
}

html {
  /* 1rem = 10px on mobile */
  font: 62.5% Tahoma, sans-serif;
}

/* responsive font sizinf */
@media (min-width: 600px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 78.5%;
  }
}

body,
p {
  margin-top: 0;

  /* 14 ÷ $rembase ≈ 14px */
  font: 1.4rem Tahoma, sans-serif;
}

h1 {
  margin-top: 0;

  /* 26 ÷ $rembase ≈ 26px */
  font: 800 2.6rem Tahoma, sans-serif;
}

h2 {
  margin-top: 0;

  /* 24 ÷ $rembase ≈ 24px */
  font: 700 2.4rem Tahoma, sans-serif;
}

h3 {
  margin-top: 0;

  /* 18 ÷ $rembase ≈ 18px */
  font: 700 1.8rem Tahoma, sans-serif;
}

main {
  /*max-width: 1024px;*/
}

body {
}

main {
}

body.container {
  width: 1024px;
}

nav a {
  background-color: var(--wine-berry);
  border-color: var(--wine-berry);
  border-radius: 0 !important;
  border-style: solid;
  border-width: 5px 5px 5px 5;
  color: var(--quarter-spanish-white);
  line-height: 30px;
}

nav a:hover {
  background-color: transparent;
  color: var(--wine-berry);
}

body.index {
  background-color: var(--quarter-spanish-white);
  color: var(--wine-berry);
}

body.index nav a:nth-of-type(1) {
  background-color: transparent;
  color: var(--wine-berry);
}

body.page-two {
  background-color: var(--pumice);
  color: var(--wine-berry);
}

body.page-two nav a:nth-of-type(2) {
  background-color: transparent;
  color: var(--wine-berry);
}

body.page-three {
  background-color: var(--cashmere);
  color: var(--wine-berry);
}

body.page-three nav a:nth-of-type(3) {
  background-color: transparent;
  color: var(--wine-berry);
}

body.page-four {
  background-color: var(--snuff);
  color: var(--wine-berry);
}

body.page-four nav a:nth-of-type(4) {
  background-color: transparent;
  color: var(--wine-berry);
}
